body {
  background: linear-gradient(rgb(90, 189, 204), rgb(33, 38, 204));
  background-repeat: no-repeat;
  height: 80vh;
}

#loancal {
  width: 375px;
  height: 295px;
  background-color: #000;
  color: #fff;
  margin: auto;
  margin-top: 20vh;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#months,
#amount,
#interest_rate {
  width: 175px;
  height: 20px;
}

#interest_rate {
  margin-left: 20px;
}

h1 {
  font-size: 40px;
}
